<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="1"
  android:versionName="1.0.0" package="irdc.ex06_10">
    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application android:icon="@drawable/icon" 
               android:label="@string/app_name">
   
    <receiver android:name="irdc.ex06_10.CallAlarm" android:process=":remote" />
    
    <activity android:name="irdc.ex06_10.alarmTesting"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="irdc.ex06_10.AlarmAlert"
              android:label="@string/app_name">
    </activity>

			<service android:name="naozhong"></service>
  </application>
</manifest>